<mat-nav-list>

   

    <!-- <img style="height: 70px; padding-left: 20px; padding-bottom: 10px;" src="/assets/logo.png"> -->



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>home</mat-icon>Home</a>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>local_offer</mat-icon>Promotions</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>person</mat-icon>Affiliates</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>extension</mat-icon>Prospects</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>request_quote</mat-icon>Commission Payments</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payment-pages">	<mat-icon> perm_media</mat-icon>Upload Assets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon> local_atm</mat-icon>Packages</a>

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>settings</mat-icon>Settings</a>

    
    

</mat-nav-list>