
<mat-toolbar style="background-color: whitesmoke; color: black; width: 100%; padding: 0px;height: 10vh;">
   
    <!-- <mat-divider  style=" height: 6px; width: 100%; background-color: #F9D328;"></mat-divider> -->
    <!-- <div class="trap">
        
            <label>You are in Test Mode</label>
            <mat-slide-toggle ></mat-slide-toggle>


    </div> -->

   
    <mat-toolbar-row style="width: 100%">

        <button mat-icon-button style="color: rgb(55, 10, 160);" (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        
    </mat-toolbar-row>

</mat-toolbar>