<div class="px-3 py-2">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <h2 class="font-weight-bolder">New Campaign</h2>
            <button class="btn btn-close" (click)="closeModal()">
            </button>

        </div>
    </div>
    <mat-stepper linear #stepper>
        <mat-step [stepControl]="addCampaignForm" [editable]="isEditable">
            <form [formGroup]="addCampaignForm" class="m-0 p-0" style="width:100%">
                <div class="d-flex flex-column flex-md-row">
                    <div class="my-auto flex-grow-1">
                        <div class="form-group d-flex justify-content-between">
                            <mat-form-field appearance="fill">
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="campaignStartDate"
                                    class="border-0">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>End date</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="campaignEndDate"
                                    class="border-0">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="form-group mt-md-3">
                            <input class="form-control" matInput type="text" formControlName="campaignName"
                                placeholder="Campaign Name">
                        </div>
                        <div class="form-group mt-md-3">
                            <input class="form-control" type="text" formControlName="campaignURL"
                                placeholder="Campaign URL">
                        </div>
                        <div class="form-group mt-5">
                            <textarea class="form-control" rows="5" placeholder="Campaign Description"
                                formControlName="campaignDescription">
                            </textarea>
                        </div>
                    </div>
                    <!-- <div class="">
                        <div class="form-group ms-3">
                            <div class="col text-center pb-2 pb-md-0">
                                <div style="max-height: 360px;overflow: hidden;">
                                    <input #fileUpload type="file" id="fileUpload" style="display:none"
                                        (change)="onFileChanged($event,'company')" />
                                    <div class="settingImage" [ngStyle]="{'background-image': 'url(' + selectedFilePath + ')'}"
                                        (click)="fileUpload.click()">
        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div> -->
                </div>


                <div class="d-flex justify-content-center mt-4">
                    <button mat-button class="btn btn-reset px-md-5 me-3" (click)="stepper.reset()">Reset</button>
                    <button mat-button class="btn mb-5 mb-md-0 btn-dark px-md-5" matStepperNext
                        [disabled]="!addCampaignForm.valid">Next</button>
                </div>
                <div *ngIf="alertMsg.message"
                    class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                    [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                    <span>{{alertMsg.message}}</span>
                    <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>

        </mat-step>
        <mat-step [stepControl]="addCampaignForm2" [editable]="isEditable">
            <form [formGroup]="addCampaignForm2">
                <div class="form-group mt-md-3">
                    <ng-select #myInterests [items]="industries" [multiple]="true" bindLabel="industryName" placeholder="Interest"
                        formControlName="intrestIdList" bindValue="industryId">
                    </ng-select>
                </div>
                <div class="form-group mt-md-3">
                    <input class="form-control" type="text" formControlName="hashTag" placeholder="HashTags">
                </div>
                <div class="form-group text-center mb-3">
                    <p class="text-dark text-uppercase mt-3">Asset</p>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="campaignType"
                        [ngModelOptions]="{standalone: true}">
                        <mat-radio-button value="image" class="me-2">Image</mat-radio-button>
                        <mat-radio-button value="video" class="ms-2">Video</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="" *ngIf="campaignType == 'image'">
                    <div class="form-group ms-3">
                        <div class="col text-center pb-2 pb-md-0">
                            <div style="max-height: 360px;overflow: hidden;">
                                <input #fileUpload type="file" id="fileUpload" style="display:none" accept="image/*"
                                    (change)="onFileChanged($event,campaignType)" />
                                <div class="settingImage"
                                    [ngStyle]="{'background-image': 'url(' + selectedFilePath + ')'}"
                                    (click)="fileUpload.click()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center d-flex justify-content-center" *ngIf="campaignType == 'video'">
                    <input #videoUpload type="file" id="videoUpload" style="display:none" accept="video/*"
                        (change)="onFileChangedVideo($event,campaignType)" />
                    <input #thumbnailUpload type="file" id="thumbnailUpload" style="display:none" accept="image/*"
                        (change)="onFileChangedThumbnail($event,campaignType)" />
                    <div class="d-flex flex-column me-1">
                        <button class="btn btn-sm px-5 btn-color" (click)="videoUpload.click()">Choose Video</button>
                        <!-- <span class="mt-2">{{selectedVideoFilePath}}</span> -->
                        <video controls class="mt-1 limitWidth" *ngIf="selectedVideoFilePath">
                            <source [src]="selectedVideoFilePath" type="video/mp4">
                            <source [src]="selectedVideoFilePath" type="video/ogg">
                            <source [src]="selectedVideoFilePath" type="video/webm">
                        </video>
                    </div>
                    <div class="d-flex flex-column ms-1">
                        <button class="btn btn-link" (click)="thumbnailUpload.click()">Upload Thumbnail Image</button>
                        <img [src]="selectedThumbnailFilePath" alt="thumbnailFile" class="img-fluid limitWidth">
                       
                    </div>
                </div>
                <div class="d-flex">
                    <div>

                    </div>
                    <div>

                    </div>
                </div>
                <div class="text-center mt-4">
                    <button mat-button matStepperPrevious class="btn px-md-5 btn-reset me-3">Back</button>
                    <button mat-button matStepperNext class="btn btn-dark px-md-5"
                        (click)="addNewCampaign()">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>

</div>