<div class="page-container">
    <div class="row">
        <div class="col-md-12 p-0 mb-2 mb-3 d-flex justify-content-between align-items-center">
            <h1 class="page-heading mb-0">Dashboard</h1>
            <div class="">
                <select name="days" id="" class="cusSelect">
                    <option value="0">Last 7 days</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card1 color-bg px-3 py-3 position-relative" (click)="goToAffiliates()">
                        <div>
                            <img src="assets/images/total-reg.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">{{apiData?.resgiteredAffiliateCount}}</p>
                        <p class="d-flex align-items-center justify-content-between text-white bold aleft">
                            Registered Affiliates
                            <img src="assets/images/next.png" width="22px" />
                        </p>
                        <div class="position-absolute" style="right: 1rem;top:16px">
                            <mat-icon class="green">trending_up</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/leads-procured.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">{{apiData?.leadsProcured}}</p>
                        <p class="text-muted aleft bold">Leads Procured
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/total_shares.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">{{apiData?.totalShares}}</p>
                        <p class="text-muted aleft bold">Total Shares
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/campaigns.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">{{apiData?.campaignsPublished}}</p>
                        <p class="text-muted aleft bold">Campaigns Published
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/banners.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">{{apiData?.bannerPublished}}</p>
                        <p class="text-muted aleft bold">Banners Published
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="mb-0">Content Shared</h2>
                                <div class="">
                                    <select name="days" id="" class="cusSelect">
                                        <option value="0">Last 7 days</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="w-100" style="display:grid">
                                <ngx-charts-line-chart style="width: 100%;" [showXAxisLabel]="showXAxisLabel"
                                    [xAxis]="xAxis" [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                                    [results]="multi">
                                </ngx-charts-line-chart>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="mb-0">Affiliate Performance</h2>
                                <select name="days" id="" class="cusSelect">
                                    <option value="0">Last 7 days</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pe-3" style="display:flex">
                                <ngx-charts-bar-vertical [results]="barGraph" [yAxis]="true" [gradient]="false"
                                    [yAxisLabel]="yAxisLabel">
                                </ngx-charts-bar-vertical>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex justify-content-between">
                        <h3>New Affiliates</h3>
                        <mat-icon class="text-muted" style="cursor:pointer">refresh</mat-icon>
                    </div>
                    <div class="card px-3" style="height: 240px;overflow-y: scroll;">
                        <div class="d-flex py-2 justify-content-between" *ngFor="let user of newAffiliates;">
                            <span>{{user.firstName}} {{user.lastName}}</span>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-tab-group mat-align-tabs="start">


                        <mat-tab label="Campaign Performances">
                            <ng-template matTabContent>
                                <div class="d-flex">
                                    <div class="col-md-5 d-flex flex-column p-0">
                                        <ngx-charts-pie-chart [view]="[200, 200]" [results]="campaignDonut"
                                            [doughnut]="true" [legendTitle]="''">
                                        </ngx-charts-pie-chart>
                                        <p class="bold text-muted">{{activeCampaignName}}</p>
                                    </div>
                                    <div class="col-md-7 px-0 pt-2">
                                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                                            (change)="onCampaignImageChange($event)" class="ngx-gallery">

                                        </ngx-gallery>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="Banner Performances">
                            <div class="d-flex">
                                <div class="col-md-5 d-flex flex-column p-0">
                                    <ngx-charts-pie-chart [view]="[200, 200]" [results]="bannerDonut" [doughnut]="true"
                                        [legendTitle]="''">
                                    </ngx-charts-pie-chart>
                                    <p class="bold text-muted">{{activeBannerName}}</p>
                                </div>
                                <div class="col-md-7 px-0 pt-2">
                                    <ngx-gallery [options]="galleryOptionsBanner" [images]="galleryImagesBanner"
                                        (change)="onBannerImageChange($event)" class="ngx-gallery">

                                    </ngx-gallery>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>