<div class="page-container">
    <div class="row">
        <div class="col-md-12 p-0 mb-2">
            <h1 class="page-heading">Dashboard</h1>
        </div>
        <div class="col-md-12 p-0">
            <div *ngIf="alertMsg.message"
                class="alert fade show d-flex justify-content-between align-items-center mt-2 p-2"
                [ngClass]="(alertMsg.type == 'danger')?'alert-danger': 'alert-success'" role="alert">
                <span>{{alertMsg.message}}</span>
                <button type="button" class="btn btn-default close" (click)="close()" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 text-right">
                    <select name="days" id="" class="cusSelect">
                        <option value="0">Last 7 days</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card1 color-bg px-3 py-3 position-relative">
                        <div>
                            <img src="assets/images/total-reg.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">35</p>
                        <p class="d-flex align-items-center justify-content-between text-white bold aleft">
                            Registered Affiliates
                            <img src="assets/images/next.png" width="22px" />
                        </p>
                        <div class="position-absolute" style="right: 1rem;top:16px">
                            <mat-icon class="green">trending_up</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/leads-procured.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">299</p>
                        <p class="text-muted aleft bold">Leads Procured
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/total_shares.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">428</p>
                        <p class="text-muted aleft bold">Total Shares
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/campaigns.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">31</p>
                        <p class="text-muted aleft bold">Campaigns Published
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card card1 flex-grow-1 me-1 text-left px-3 py-3 strip3">
                        <div>
                            <img src="assets/images/banners.png" alt="" class="card-icon">
                        </div>
                        <p class="d-count aleft">33</p>
                        <p class="text-muted aleft bold">Banners Published
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h1>Content Shared</h1>
                                <select name="days" id="" class="cusSelect">
                                    <option value="0">Last 7 days</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="container">
                                <ngx-charts-line-chart style="width: 100%;" [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                                    [results]="multi">
                                </ngx-charts-line-chart>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <h3>New Affiliates</h3>
                        <mat-icon class="text-muted">refresh</mat-icon>
                    </div>
                    <div class="card px-3">
                        <div class="d-flex py-2 justify-content-between">
                            <span>Jordy Robert</span>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                        <div class="d-flex py-2 justify-content-between">
                            <span>Jordy Robert</span>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                        <div class="d-flex py-2 justify-content-between">
                            <span>Jordy Robert</span>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                        <div class="d-flex py-2 justify-content-between">
                            <span>Jordy Robert</span>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                        <div class="d-flex py-2 justify-content-center">
                            <button class="btn btn-link"> View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Campaign Performances">Campaign Performances</mat-tab>
                        <mat-tab label="Banner Performances">Banner Performances</mat-tab>
                      </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>