<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="header d-flex flex-column flex-md-row justify-content-between align-item-center">
                    <div class="my-auto d-none d-md-block">
                        <img src="assets/images/logo.png" alt="logo" id="header-logo"> <span class="text2">-Dealers</span>
                    </div>
                    <div class="d-block d-md-none text-center">
                        <span id="mobile-dealers-text" class="d-block d-md-none">- Dealers</span>
                        <img src="assets/images/main-logo-mobile.png" alt="main-logo" id="mobile-logo">
                        <img src="assets/images/login.png" alt="login" id="mobile-login-img">
                    </div>
                    <div class="my-auto d-none d-md-block">
                        <button class="btn btn-basic text-uppercase main-color btn-reg">Registering as Dealer</button>
                        <button class="btn btn-primary btn-login">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        

        <div class="row">
            <div class="col-md-12">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12 text-center mt-5">
                            <h2>Choose a package</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>

    </section>
    <section>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="d-flex flex-column flex-md-row justify-content-between align-item-center text-center text-md-left"
                    id="footer">
                    <div>
                        <img src="assets/images/footer-logo-mobile.png" class="d-block d-md-none w-50 mx-auto"
                            alt="footer-logo">
                        <img src="assets/images/footer-logo.png" class="d-none d-md-block" alt="footer-logo">
                    </div>
                    <div class='my-auto'>
                        <img src="assets/images/fb.png" class="m-2" alt="fb">
                        <img src="assets/images/linkedin.png" class="m-2" alt="linkedin">
                        <button class="btn btn-link main-color text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>